package com.github.taras.gwt.polymer.client.elements;

import java.util.HashMap;

public class ImportsMap extends HashMap<String, String> {

    private static ImportsMap instance = new ImportsMap();
    
    static { <% _.forEach(imports, function(item){ %>
        instance.put("<%= item.element %>", "<%= item.path %>");<% }) %>
    }

    public static ImportsMap getInstance() {
        return instance;
    }

    private ImportsMap() {
    }
}
